<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="/">
            Mi Flask App
        </a>

        <!-- Botón responsive -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center gap-2">

                <li class="nav-item">
                    <a class="nav-link" href="/post/list">
                        Listado
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-primary px-3 rounded-3" href="/post/create">
                        + Crear Post
                    </a>
                </li>

            </ul>
        </div>

    </div>
</nav>