<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a
            class="navbar-brand fw-bold"
            href="{{ url_for('home') }}"
        >
            Flask HTMX
        </a>

        <div class="navbar-nav ms-auto">

            <a
                class="nav-link"
                href="{{ url_for('get_all_students') }}"
            >
                Listado
            </a>

            <a
                class="btn btn-primary ms-2"
                href="{{ url_for('create_student') }}"
            >
                Crear
            </a>

        </div>

    </div>

</nav>
