{% extends 'base.html' %}

{% block content %}

<div class="card shadow-lg border-0 rounded-4">

    <div class="card-header bg-dark text-white">
        <h2 class="mb-0">
            Listado de Estudiantes
        </h2>
    </div>

    <div class="card-body">

        <div class="d-flex gap-2 mb-3">

            <button
                class="btn btn-outline-primary"
                hx-get="/students/table"
                hx-target="#students-container"
                hx-swap="innerHTML"
            >
                Refrescar Tabla HTMX
            </button>

            <button
                class="btn btn-outline-success"
                hx-get="/students/average"
                hx-target="#average-container"
                hx-swap="innerHTML"
            >
                Ver Promedio
            </button>

            <a
                href="/students/bulk"
                class="btn btn-dark"
            >
                Bulk Insert
            </a>

        </div>

        <div id="average-container"></div>

        <div id="students-container">

            {% include 'partials/students_table.html' %}

        </div>

    </div>

</div>

{% endblock %}
